@media screen and(max-width: 480px) {
  .logo-image {
    top: 2.8%;
    left: 3%;

    img {
      width: 7.5rem;
    }
  }

  header {
    margin-top: 4rem;
    padding: 3rem 0;

    .container {
      width: 96%;

      h1 {
        font-size: 1.85em;
      }

      p {
        margin-top: 1.2rem;
        font-size: 1.1em;
      }

      .anchor-link {
        padding: 0.8rem 1rem;
        font-size: 0.96em;
      }
    }
  }

  .services {
    padding: 3rem 0;

    h2 {
      font-size: 1.5em;
      font-weight: bolder;
      padding: 0 0.5rem;
    }

    .container-lg {
      .service-card {
        height: 17rem;

        h3 {
          font-size: 1.3em;
        }

        p {
          font-size: 1em;
        }
      }
    }
  }

  .about-us {
    padding: 3rem 0;

    h2 {
      font-size: 1.5em;
    }

    &-desc {
      width: 93%;

      font-size: 1em;
    }

    .container-lg {
      .about-card {
        height: 18rem;

        h3 {
          font-size: 1.3em;
        }

        p {
          font-size: 1em;
        }
      }
    }
  }

  .our-approach {
    padding: 3rem 0;

    .heading {
      width: 90%;
      margin: 0 auto;
      h4 {
        font-size: 1.5em;
        font-weight: bolder;
      }
    }

    .approach-card {
      height: 18rem;

      h5 {
        font-size: 1.3em;
      }

      p {
        font-size: 1em;
      }
    }
  }

  .contact-page {
    padding: 6rem 0;

    h1 {
      font-weight: bolder;
    }

    .box {
      width: 96%;
      margin: 0 auto;
      p {
        color: #6f6c90;

        font-size: 1em;
      }
    }

    .contact-card {
      width: 96%;
      margin: 1.4rem auto;
      padding: 2rem 1rem;

      border-radius: 1.3rem;

      .progress-bar {
        @include flexItem(row, space-between);

        .step {
          text-align: center;

          position: relative;

          .check {
            position: absolute;
            left: 50%;
            top: 70%;
            font-size: 15px;
            transform: translate(-50%, -50%);
            display: none;
          }

          &:last-child .bullet {
            &::before,
            &::after {
              display: none;
            }
          }

          .bullet {
            position: relative;
            height: 2.4rem;
            width: 2.4rem;

            @include flexItem(row, center);
            align-items: center;
            transition: 0.2;

            &::before,
            &::after {
              position: absolute;
              content: "";
              bottom: 14px;
              right: -44px;
              height: 6px;
              width: 30px;

              border-radius: 1rem;
            }

            &.active::after {
              transform: scaleX(0);
              transform-origin: left;
              animation: animate 0.3s linear forwards;
            }

            @keyframes animate {
              100% {
                transform: scaleX(1);
              }
            }

            span {
              font-weight: 500;
              font-size: 1.2em;
              line-height: 25px;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);

              &.active {
                display: none;
              }
            }

            .check {
              display: none;

              &.active {
                display: block;
              }
            }
          }
        }
      }

      .divider {
        width: 100%;
        height: 0.1rem;

        margin-top: 2rem;
        margin-bottom: 1rem;
      }

      .form-outer {
        width: 100%;

        overflow: hidden;

        form {
          display: flex;
          width: 400%;

          .page {
            width: 25%;
            transition: margin-left 0.3s ease-in-out;

            .title {
              font-size: 1.4em;
            }

            .subtitle {
              font-size: 1em;
            }

            .form-field-row {
              @include flexItem(row, space-between);
              padding-top: 0rem;

              .form-field {
                width: 100%;

                @include flexItem(column, space-between);
              }
            }

            .second-form {
              width: 100%;

              @include flexItem(row, space-between);

              .form-item {
                margin: 0.5rem 0;

                width: 100%;

                .form-label {
                  position: relative;

                  display: flex;
                  padding: 1.3rem;
                  cursor: pointer;
                  transition: 0.3;

                  border-radius: 16px;

                  &::before {
                    content: "";
                    position: absolute;
                    display: flex;
                    width: 24px;
                    height: 24px;

                    top: 15px;
                    left: 15px;
                    border-radius: 50%;
                    transition: 0.3s;
                    display: none;
                  }

                  &::after {
                    content: "";
                    position: absolute;
                    display: flex;
                    width: 20px;
                    height: 20px;

                    top: 18px;
                    left: 18px;
                    background-image: url("@/assets/icons/check.svg");
                    background-repeat: no-repeat;
                    transition: 0.3s;
                    opacity: 0;
                  }

                  .form-content {
                    width: 100%;
                    @include flexItem(row, flex-start);
                    align-items: center;

                    transition: 0.3;

                    // .form-img {
                    // }

                    .form-name {
                      font-size: 1.08em;
                    }
                  }
                }

                .form-input {
                  position: absolute;
                  left: -9999px;
                  opacity: 0;
                  visibility: hidden;

                  &:checked ~ .form-label {
                    border: 2px solid $green;

                    &::before {
                      border-color: $green;
                      background-color: $green;
                    }

                    &::after {
                      opacity: 1;
                    }
                  }

                  &:checked ~ .form-label {
                    opacity: 1;
                  }
                }
              }
            }

            .third-form {
              width: 100%;

              @include flexItem(row, space-between);

              .form-item {
                margin: 0.5rem 0;

                width: 100%;

                .form-label {
                  position: relative;

                  display: flex;
                  padding: 1.2rem;
                  cursor: pointer;
                  transition: 0.3;

                  border-radius: 16px;

                  &::before {
                    content: "";
                    position: absolute;
                    display: flex;
                    width: 24px;
                    height: 24px;
                    background-color: $white;

                    top: 2.7rem;
                    left: 2rem;
                    border-radius: 50%;
                    transition: 0.3s;
                  }

                  &::after {
                    content: "";
                    position: absolute;
                    display: flex;
                    width: 20px;
                    height: 20px;

                    top: 3.08rem;
                    left: 2.401rem;
                    background-image: url("@/assets/icons/eclipse.svg");
                    background-repeat: no-repeat;
                    transition: 0.3s;
                    opacity: 0;
                  }

                  .form-content {
                    width: 100%;
                    @include flexItem(row, flex-start);
                    align-items: center;

                    transition: 0.3;

                    padding: 1.4rem 0;

                    // .form-img {
                    // }

                    .form-name {
                      font-size: 1.08em;
                    }
                  }
                }

                .form-input {
                  position: absolute;
                  left: -9999px;
                  opacity: 0;
                  visibility: hidden;

                  &:checked ~ .form-label {
                    border: 2px solid $green;

                    &::before {
                      border-color: $green;
                      background-color: $green;
                    }

                    &::after {
                      opacity: 1;
                    }
                  }

                  &:checked ~ .form-label {
                    opacity: 1;
                  }
                }
              }
            }

            .first-page-next {
              @include flexItem(row, flex-end);

              .next-step {
                margin-top: 1.2rem;

                padding: 1rem 1.2rem;
                border-radius: 2rem;
                cursor: pointer;
                font-size: 0.89em;
              }
            }

            .second-page-next,
            .last-page-next {
              @include flexItem(row, space-between);

              .next-step {
                margin-top: 1.2rem;

                padding: 1rem 1.2rem;
                border-radius: 2rem;
                cursor: pointer;
                font-size: 0.89em;
              }

              .prev-step {
                margin-top: 1.2rem;

                padding: 1rem 1.2rem;
                border-radius: 2rem;
                cursor: pointer;
                font-size: 0.89em;
              }
            }

            .submit-quote {
              margin-top: 2rem;
              font-size: 1.4em;
            }

            .submit-review {
              width: 96%;
              margin: 0 auto 3.8rem auto;
              color: #6f6c90;
              font-size: 1em;
            }
          }
        }
      }
    }
  }

  .detail-page {
    padding: 4rem 0;

    .detail-card {
      width: 97%;
      margin: 0 auto;
      padding: 2rem 1rem;

      .row-item {
        @include flexItem(row, flex-start);
        align-items: center;

        h2 {
          margin-right: 1rem;
        }

        .value {
          font-size: 1em;

          .items {
            font-size: 0.99em;
          }

          .budget {
            font-size: 0.99em;
          }
        }
      }
    }
  }

  .card-table {
    .custom-container {
      width: 90%;
      margin: 0.1rem auto 0rem auto;
    }

    .header,
    .sub-text {
      font-size: 1.1em;
      font-family: $dmSans;
    }

    height: 100%;
    font-size: 0.79em;
    padding-top: 1rem;

    .header-container {
      width: 95%;

      padding: 1.5rem 1rem;

      .text-lead {
        padding-bottom: 1.2rem;
        font-weight: bold;
        font-size: 1.3em;
        font-family: $dmSans;
      }

      .header {
        color: #999;
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .col-1 {
          width: 40%;
        }

        .col-2 {
          display: none;
        }

        .col-3 {
          display: none;
        }

        .col-4 {
          display: none;
        }

        .col-5 {
          display: block;
          width: 60%;
        }
      }
    }

    .sub-container {
      width: 95%;

      padding: 1.7rem 1rem;

      .text-lead {
        padding-bottom: 1rem;
        font-weight: bold;
        font-size: 1.3em;
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .col-1 {
          width: 40%;
        }

        .col-2 {
          display: none;
        }

        .col-3 {
          display: none;
        }

        .col-4 {
          display: none;
        }

        .col-5 {
          display: block;
          width: 60%;
        }
      }
    }
  }

  footer {
    padding-top: 3rem;

    .all-rights-reserved {
      width: 100%;
      margin-top: 1.5rem;
      padding: 1rem 0;

      p {
        width: 95%;
        margin: 0 auto;
      }
    }
  }
}
