@media screen and (max-width: 1200px) {
  header {
    .container {
      width: 60%;

      h1 {
        font-size: 2.9em;
        font-weight: bolder;
      }

      p {
        margin-top: 1.2rem;
        font-size: 1.3em;
      }

      .anchor-link {
        padding: 0.8rem 1rem;
        font-size: 1em;
      }
    }
  }

  .services {
    padding: 4rem 0;

    h2 {
      font-size: 2em;
    }

    .container-lg {
      .service-card {
        padding: 2rem;

        height: 24rem;

        border-radius: 0.6rem;
        margin: 0.9rem 0;

        h3 {
          font-size: 1.4em;
        }

        p {
          font-size: 1.1em;
        }
      }
    }
  }

  .about-us {
    padding: 5rem 0;

    h2 {
      font-size: 2em;
    }

    &-desc {
      width: 50%;
      margin: 1rem auto;
      font-size: 1.1em;
    }

    .container-lg {
      .about-card {
        padding: 2rem 1rem;

        border-radius: 0.6rem;
        margin: 0.9rem 0;
        height: 23rem;

        h3 {
          font-size: 1.4em;
        }

        p {
          font-size: 1.1em;
        }
      }
    }
  }

  .our-approach {
    padding: 5rem 0;

    .heading {
      width: 50%;
      margin: 0 auto;
      h4 {
        font-size: 2em;
      }
    }

    .approach-card {
      padding: 2rem;

      border-radius: 0.6rem;
      height: 24rem;

      h5 {
        font-size: 1.4em;
      }

      p {
        font-size: 1.1em;
      }
    }
  }

  .card-table {
    .custom-container {
      width: 90%;
      margin: 0.1rem auto 0rem auto;
    }

    .header,
    .sub-text {
      font-size: 1.1em;
      font-family: $dmSans;
    }

    height: 100%;
    font-size: 0.79em;
    padding-top: 1rem;

    .header-container {
      width: 95%;

      padding: 1.5rem 1rem;

      .text-lead {
        padding-bottom: 1.2rem;
        font-weight: bold;
        font-size: 1.3em;
        font-family: $dmSans;
      }

      .header {
        color: #999;
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .col-1 {
          width: 25%;
        }

        .col-2 {
          display: none;
        }

        .col-3 {
          width: 30%;
        }

        .col-4 {
          width: 45%;
        }

        .col-5 {
          display: none;
        }
      }
    }

    .sub-container {
      width: 95%;

      padding: 1.7rem 1rem;

      .text-lead {
        padding-bottom: 1rem;
        font-weight: bold;
        font-size: 1.3em;
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .col-1 {
          width: 25%;
        }

        .col-2 {
          display: none;
        }

        .col-3 {
          width: 30%;
        }

        .col-4 {
          width: 45%;
        }

        .col-5 {
          display: none;
        }
      }
    }
  }

  .contact-page {
    padding: 6rem 0;

    h1 {
      font-weight: bolder;
    }

    .box {
      width: 80%;
      margin: 0 auto;
      p {
        color: #6f6c90;

        font-size: 1.2em;
      }
    }

    .contact-card {
      width: 90%;
      margin: 1.4rem auto;
      padding: 2rem 1rem;
      background: $white;

      box-shadow: 0px 0px 25px rgba(209, 209, 209, 0.3);

      border-radius: 1.3rem;

      .progress-bar {
        @include flexItem(row, space-between);

        .step {
          text-align: center;

          position: relative;

          .check {
            position: absolute;
            left: 50%;
            top: 70%;
            font-size: 15px;
            transform: translate(-50%, -50%);
            display: none;
          }

          &:last-child .bullet {
            &::before,
            &::after {
              display: none;
            }
          }

          .bullet {
            position: relative;
            height: 2.4rem;
            width: 2.4rem;

            border-radius: 50%;

            background-color: #eff0f7;

            @include flexItem(row, center);
            align-items: center;
            transition: 0.2;
            color: #6f6c90;

            &.active {
              background-color: $black;
              color: $white;
            }

            &::before,
            &::after {
              position: absolute;
              content: "";
              bottom: 14px;
              right: -140px;
              height: 6px;
              width: 100px;
              background-color: #eff0f7;
              border-radius: 1rem;
            }

            &.active::after {
              background-color: $black;
              transform: scaleX(0);
              transform-origin: left;
              animation: animate 0.3s linear forwards;
            }

            @keyframes animate {
              100% {
                transform: scaleX(1);
              }
            }

            span {
              font-weight: 500;
              font-size: 1.2em;
              line-height: 25px;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);

              &.active {
                display: none;
              }
            }

            .check {
              display: none;

              &.active {
                display: block;
                color: $white;
              }
            }
          }
        }
      }

      .divider {
        width: 100%;
        height: 0.1rem;
        background-color: #d9dbe9;
        margin-top: 2rem;
        margin-bottom: 1rem;
      }

      .form-outer {
        width: 100%;

        overflow: hidden;

        form {
          display: flex;
          width: 400%;

          .page {
            width: 25%;
            transition: margin-left 0.3s ease-in-out;

            .title {
              font-size: 1.4em;
            }

            .subtitle {
              font-size: 1.1em;
            }

            .form-field-row {
              @include flexItem(row, space-between);
              padding-top: 0rem;

              .form-field {
                width: 48%;

                @include flexItem(column, space-between);
              }
            }

            .second-form {
              width: 100%;

              @include flexItem(row, space-between);

              .form-item {
                margin: 0.5rem 0;
                background-color: $white;

                width: 48%;

                .form-label {
                  position: relative;

                  display: flex;
                  padding: 1.3rem;
                  cursor: pointer;
                  transition: 0.3;

                  border: 1px solid #eff0f7;

                  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
                  border-radius: 16px;

                  &::before {
                    content: "";
                    position: absolute;
                    display: flex;
                    width: 24px;
                    height: 24px;
                    background-color: $black;
                    border-radius: 1px solid #ddd;
                    top: 15px;
                    left: 15px;
                    border-radius: 50%;
                    transition: 0.3s;
                    display: none;
                  }

                  &::after {
                    content: "";
                    position: absolute;
                    display: flex;
                    width: 20px;
                    height: 20px;

                    top: 18px;
                    left: 18px;
                    background-image: url("@/assets/icons/check.svg");
                    background-repeat: no-repeat;
                    transition: 0.3s;
                    opacity: 0;
                  }

                  .form-content {
                    width: 100%;
                    @include flexItem(row, flex-start);
                    align-items: center;

                    transition: 0.3;

                    // .form-img {
                    // }

                    .form-name {
                      font-size: 1.1em;
                      color: $text-color;
                    }
                  }
                }

                .form-input {
                  position: absolute;
                  left: -9999px;
                  opacity: 0;
                  visibility: hidden;

                  &:checked ~ .form-label {
                    border: 2px solid $green;

                    &::before {
                      border-color: $green;
                      background-color: $green;
                    }

                    &::after {
                      opacity: 1;
                    }
                  }

                  &:checked ~ .form-label {
                    opacity: 1;
                  }
                }
              }
            }

            .third-form {
              width: 100%;

              @include flexItem(row, space-between);

              .form-item {
                margin: 0.5rem 0;
                background-color: $white;

                width: 48%;

                .form-label {
                  position: relative;

                  display: flex;
                  padding: 1.2rem;
                  cursor: pointer;
                  transition: 0.3;

                  border: 1px solid #eff0f7;

                  box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
                  border-radius: 16px;

                  &::before {
                    content: "";
                    position: absolute;
                    display: flex;
                    width: 24px;
                    height: 24px;
                    background-color: $white;

                    top: 2.7rem;
                    left: 2rem;
                    border-radius: 50%;
                    transition: 0.3s;
                    border: 1.2px solid #d9dbe9;
                    box-shadow: inset 0px -3px 7px rgba(20, 20, 43, 0.08);
                  }

                  &::after {
                    content: "";
                    position: absolute;
                    display: flex;
                    width: 20px;
                    height: 20px;

                    top: 3.08rem;
                    left: 2.401rem;
                    background-image: url("@/assets/icons/eclipse.svg");
                    background-repeat: no-repeat;
                    transition: 0.3s;
                    opacity: 0;
                  }

                  .form-content {
                    width: 100%;
                    @include flexItem(row, flex-start);
                    align-items: center;

                    transition: 0.3;

                    padding: 1.4rem 0;

                    // .form-img {
                    // }

                    .form-name {
                      font-size: 1.1em;
                      color: $text-color;
                    }
                  }
                }

                .form-input {
                  position: absolute;
                  left: -9999px;
                  opacity: 0;
                  visibility: hidden;

                  &:checked ~ .form-label {
                    border: 2px solid $green;

                    &::before {
                      border-color: $green;
                      background-color: $green;
                    }

                    &::after {
                      opacity: 1;
                    }
                  }

                  &:checked ~ .form-label {
                    opacity: 1;
                  }
                }
              }
            }

            .first-page-next {
              @include flexItem(row, flex-end);

              .next-step {
                margin-top: 1.2rem;

                padding: 1rem 1.2rem;
                border-radius: 2rem;
                cursor: pointer;
                font-size: 0.89em;
              }
            }

            .second-page-next,
            .last-page-next {
              @include flexItem(row, space-between);

              .next-step {
                margin-top: 1.2rem;

                padding: 1rem 1.2rem;
                border-radius: 2rem;
                cursor: pointer;
                font-size: 0.89em;
              }

              .prev-step {
                margin-top: 1.2rem;

                padding: 1rem 1.2rem;
                border-radius: 2rem;
                cursor: pointer;
                font-size: 0.89em;
              }
            }

            .submit-quote {
              margin-top: 2rem;
              font-size: 1.4em;
            }

            .submit-review {
              width: 68%;
              margin: 0 auto 3.8rem auto;
              font-size: 1.15em;
            }
          }
        }
      }
    }
  }

  footer {
    .all-rights-reserved {
      width: 100%;
      margin-top: 1.5rem;
      padding: 1rem 0;

      p {
        width: 91%;
        margin: 0 auto;
      }
    }
  }
}
