@font-face {
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
  font-family: "Inter";
}

@font-face {
  src: url("../fonts/Inter-ExtraBold.ttf") format("truetype");
  font-family: "InterExtraBold";
}


$inter: "Inter";
$interExtraBold: "InterExtraBold";

$heading-lg: 3.375em;
$subtitle-lg: 2em;
$subtitle-text: 1.14em;
$subheading-lg: 1.4em;
$text-lg: 1em;
$contact-font-size-lg: 3.2em;
$mbfont: 1.6em;
$heading-sm: 1.85em;
$subtitle-sm: 1.5em;
$subheading-sm: 1.3em;
