@media screen and(max-width: 768px) {
  .hero-section {
    position: relative;

    .hero-icon-side {
      position: absolute;
      top: 9%;
      left: 0;
      z-index: 6;
      width: 15rem;
    }

    .hero-icon-subtract {
      position: absolute;
      top: 27%;
      left: 7%;
      z-index: 7;
      width: 1.2rem;
    }

    .hero-icon-star {
      position: absolute;
      top: 67%;
      left: 87%;
      transform: translate(-50%, -20%);
      z-index: 7;
      width: 3rem;
    }

    .hero-content {
      padding: 6rem 0;
      position: relative;
      z-index: 10;
      width: 90%;
      margin: 0 auto;
      text-align: start;

      h1 {
        margin-top: 6.7rem;
        font-size: $subtitle-lg;
      }

      p {
        margin-top: 1.5rem;
        font-size: $subtitle-text;
      }

      .call-to-action {
        margin-top: 2rem;
        @include flexItem(row, center);

        .contact {
          padding: 0.6rem 1rem;
          border-radius: 8px;
          margin-right: 0.5rem;
          width: 10rem;
          font-size: $text-lg;
          text-align: center;
        }

        .view-works {
          padding: 0.6rem 1rem;
          border-radius: 8px;
          margin-left: 0.5rem;
          width: 10rem;
          font-size: $text-lg;
          text-align: center;
        }
      }
    }
  }

  .about-section {
    padding: 4rem 0;

    h1 {
      width: 96%;
      margin: 0 auto;
      font-size: $subtitle-lg;
      text-align: start;
    }

    .subtitle-text {
      width: 96%;
      margin: 1.6rem auto;
      font-size: $subtitle-text;
      text-align: start;
    }

    .about-ecolabz {
      .content {
        margin: 1rem 0;

        img {
          width: 4rem;
          margin-bottom: 0.5rem;
        }

        &:nth-of-type(4) {
          img {
            width: 3.4rem;
          }
        }

        h5 {
          font-weight: bold;
          font-weight: bold;
          letter-spacing: 0.1px;
        }

        p {
          font-size: $text-lg;
          margin-top: 1rem;
        }
      }
    }
  }

  .service-section {
    padding: 4rem 0;

    .divider {
      height: 0.2px;
      width: 100%;
      margin: 2rem 0;
    }

    h2 {
      letter-spacing: 0.2px;
      font-size: $subtitle-lg;
    }

    .anchor-link {
      font-size: $text-lg;
      text-decoration-line: underline;
      cursor: pointer;
      margin: 1.4rem 0 3em 0;
    }

    .services {
      .content {
        h5 {
          letter-spacing: 0.2px;
        }

        p {
          font-size: $text-lg;
        }
      }
    }

    img {
      margin-top: 4rem;
    }
  }

  .project-section {
    padding: 5rem 0;

    .our-projects {
      width: 90%;
      margin: 1.3rem auto;
      font-size: $subtitle-text;
      letter-spacing: 0.1px;
    }

    h2 {
      width: 90%;
      margin: 1rem auto 2rem auto;
      font-size: $subtitle-sm;

      .box {
        width: 100%;
      }
    }

    h1 {
      width: 90%;
      margin: 0 auto;
      font-size: $heading-sm;
      text-align: start;
    }

    .subtitle-text {
      width: 90%;
      margin: 1.6rem auto 5rem auto;
      font-size: $subtitle-text;
      text-align: start;
    }

    .project-container {
      width: 96%;
      margin: 0 auto;
      .row-item {
        @include flexItem(row, center);
        .project {
          margin: 1rem 0rem;
          width: 48%;

          img {
            width: 100%;
          }

          &:nth-of-type(2) {
            transform: translateY(-1.8rem);
          }
        }

        .content {
          padding: 0 1.1rem;
          h5 {
            letter-spacing: 0.1px;
            font-size: $subheading-lg;
          }

          p {
            font-size: $text-lg;
          }
        }
      }

      .divider {
        display: none;
      }
    }
  }

  .tech-stack {
    padding: 4rem 0;

    h1 {
      font-size: $heading-sm;
      text-align: center;
    }

    .tech-stack-container {
      width: 90%;
      margin: 2rem auto 0 auto;
      @include flexItem(row, space-between);

      .item {
        width: 30%;
        margin: 1.6rem 0;

        img {
          width: 100%;
          height: 3rem;
        }
      }
    }
  }

  .services-page {
    padding: 5rem 0;
    width: 90%;
    margin: 0 auto;

    .our-services {
      margin: 1.3rem auto;
      font-size: $subtitle-text;
      letter-spacing: 0.1px;
    }

    h2 {
      margin: 1rem auto;
      font-size: $subtitle-sm;

      .box {
        width: 100%;
      }
    }

    .box-content {
      margin: 2rem auto;
      font-size: $text-lg;
      .text-lead {
        width: 100%;
      }
    }

    .divider {
      margin: 3rem auto;
    }

    h3 {
      font-weight: 900;
      margin-bottom: 1rem;
    }

    .content {
      margin: 1rem 0;

      h5 {
        letter-spacing: 0.1px;
      }

      p {
        font-size: $text-lg;
        margin-top: 1rem;
      }
    }
  }

  .contact-page {
    padding: 6rem 0;
    width: 87%;
    margin: 0 auto;

    .contact-us {
      margin: 1.3rem auto;
      font-size: $subtitle-text;
      letter-spacing: 0.1px;
    }

    h2 {
      margin: 1rem auto;
      font-size: $subtitle-sm;
    }

    .box-content {
      margin: 2rem auto 4rem auto;
      font-size: $text-lg;
      .text-lead {
        width: 100%;
      }
    }

    .form-group {
      margin-top: 0.5rem;
    }
    .form-control-input,
    .form-control-textarea {
      width: 100%;
      border-radius: 8px;
      font-size: 0.875rem;
      line-height: 1.5rem;
    }

    .form-control-textarea {
      resize: none;
    }

    .form-control-submit-button {
      width: 14rem;
      height: 3.25rem;
      border-radius: 8px;
      font-weight: 600;
      font-size: $text-lg;
      cursor: pointer;
      border: none;
      margin-top: 3rem;
    }
  }

  .our-team {
    padding: 5rem 0;
    width: 90%;


    .content {
      p {
        margin-top: 1rem;
        font-size: $text-lg;
      }
    }

    h3 {
      font-weight: bolder;
      margin-top: 4rem;
    }

    .card-container {
      @include flexItem(row, flex-start);
      margin: 2rem auto;
      .card {
        width: 45%;
        padding: 2rem;
        margin: 1rem auto;
      }
    }
  }

  .detail-page {
    padding: 4rem 0;

    .detail-card {
      width: 90%;
      margin: 0 auto;
      padding: 2rem 1rem;

      .row-item {
        @include flexItem(row, flex-start);
        align-items: center;

        h2 {
          margin-right: 1rem;
        }

        .value {
          font-size: 1em;

          .items {
            font-size: 0.99em;
          }

          .budget {
            font-size: 0.99em;
          }
        }
      }
    }
  }

  .card-table {
    margin-top: 6rem;

    .custom-container {
      width: 90%;
      margin: 0.1rem auto 0rem auto;
    }

    .header,
    .sub-text {
      font-size: 1.1em;
    }

    height: 100%;
    font-size: 0.79em;
    padding-top: 1rem;

    .header-container {
      width: 95%;

      padding: 1.5rem 1rem;

      .text-lead {
        padding-bottom: 1.2rem;
      }

      .header {
        color: #999;
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .col-1 {
          width: 25%;
        }

        .col-2 {
          display: block;
          width: 25%;
        }

        .col-3 {
          display: none;
        }

        .col-4 {
          display: none;
        }

        .col-5 {
          display: block;
          width: 30%;
        }
      }
    }

    .sub-container {
      width: 95%;

      padding: 1.7rem 1rem;

      .text-lead {
        padding-bottom: 1rem;
      }

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .col-1 {
          width: 25%;
        }

        .col-2 {
          display: block;
          width: 25%;
        }

        .col-3 {
          display: none;
        }

        .col-4 {
          display: none;
        }

        .col-5 {
          display: block;
          width: 30%;
        }
      }
    }
  }

  footer {
    .all-rights-reserved {
      width: 100%;
      margin-top: 1.5rem;
      padding: 1rem 0;

      p {
        width: 97%;
        margin: 0 auto;
      }
    }
  }
}
